* {
	text-align: center;
}

h1 {
	color: blue;
}
 
h2 {
	color: red;

}

 .patrick {
 	
 }

body {
	background-image: url(http://images5.fanpop.com/image/photos/30200000/Meme-Wallpaper-memes-30218751-1366-768.jpg);
}
 

